<!DOCTYPE html>
<html>
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144726595-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){ dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'UA-144726595-1');
        </script>        
        <meta charset="utf-8">
        <title>{{ page.title }} / Daniel Zhao</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="/styles/main.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,300,400,400i,500,600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    </head>
    <body>
        <header>
            <div id="siteTitle">
                <a href="/">Bessie Bauman</a>
            </div>
            <nav>
                {% include nav.html %}
            </nav>
        </header>
        <main>
            <div id="gradient-top"></div>
            <div id="gradient-bottom"></div>
            <div class="wide">
                {{ content }}
            </div>
        </main>
        <footer>
            <div class="icon-bar">
                <a href="https://instagram.com/bessiemb" class="fa fa-instagram" target="_blank"></a>
                <a href="https://linkedin.com/in/bessiebuaman35" class="fa fa-linkedin" target="_blank"></a>
            </div>
            <p><strong>© 2020 Bessie Bauman</strong></p>
        </footer>
    </body>
</html>